*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 50vh;
    background-image: url('bckground.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-image: url('bck.jpg');
    background-size: cover;
    background-position: center;

    width: 400px;
    padding: 100px;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profil img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-position: center;
}

.sosmed{
    background-color: #ffffff;
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 40px;
    text-decoration: none;
    color: black;
}

.sosmed:hover{
    background-color: rgb(22, 22, 160);
    color: white;
    transition: 1s;
}


